/* Ensure the body and html take up full height */
html, body {
  height: 100%;
  margin: 0;
}

/* Container for the content and footer */
.favorites-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the container takes at least the full viewport height */
  background-image: url('https://i.pinimg.com/originals/33/ef/8b/33ef8b9c0b902154a6cd4103a21275ef.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
}

/* Content section */
.favorites-content {
  flex: 1; /* Take up all available space except for the footer */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Center the heading */
.favorites-container h2 {
  text-align: center;
  padding-top: 3rem;
  width: 30rem;
}

/* Grid container */
.favorites-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns */
  gap: 20px;
  padding: 0 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* Style for each favorite item */
.favorite-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff8e;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.favorite-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.favorite-item-text h3 {
  margin: 10px 0;
  font-size: 16px;
}

.favorite-item-text p {
  margin: 0;
  font-size: 14px;
}

/* Center the "No favorites found" message */
.no-favorites-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* Make sure it takes full height of the grid container */
  text-align: center;
  padding: 20px;
  margin-top: -8rem;
  margin-left: 23rem;
  margin-bottom: 3rem;
}

.no-favorites-message p{
  margin: 1%;
}

/* Floating animation */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.no-favorites-message img {
  animation: float 3s ease-in-out infinite;
  width: 50%;
}


.footer {
  background-color: #5a5858;
  color: white;
  padding: 10px;
  text-align: center;
}

.footer img {
  width: 25px;
  margin: 0px 10px;
  cursor: pointer;
}

.name {
  font-style: italic;
}

.remove {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.remove:hover {
  background-color: #e60000;
}
