.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    background-color: #faf3e06e;
    width: 100%;
    z-index: 999;
  }
  
  img {
    transition: 10s;
    width: 100px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  